/*GLOBAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 600px;
}

img {
    max-width: 100%;
    display: block;

}

img[src$=".jpg"] {
    border-radius: 4px;
}

h1, h2, h3, h4, h4, h6, ul, p {
    margin: 0;
    padding: 0 ;
}

a, ul, li {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

