.title a{
    text-decoration: none;
}


.header-bg {
    background-color: var(--blue_max);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    padding: 16px 0;
    display: inline-block;
    font-size: 1.25rem;
    line-height: 32px;
    position: relative;
}

.header-menu a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background: var(--white);
    margin-top: 4px;
    position: absolute;
}

.header-menu a:hover:after {
    width: 100%;
    transition: 0.3s;
}

/*MEDIA QUERIES*/
@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }
    .header-menu a {
        background: var(--blue_1);
        padding: 12px 16px;
        border-radius: 10px;
    }
    .header-menu a:hover {
        background: var(--blue_3);
    }
    .header a:after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }
    .header-menu a {
        padding: 8px 12px;
        font-size: 14px;
    }
    .header-menu a:hover {
        background: var(--blue_3);
    } 
    .header a:after {
        display: none;
    }
}