:root {
    --blue_max: #02070d;
    --blue_1: #000d1b;
    --blue_2: #012954;
    --blue_3: #004793;
    --blue_4: #004c9c;
    --blue_5: #0078FB;
    --blue_6: #2D92FF;
    --blue_7: #5DABFF;
    --gold_1: #957C3D;
    --gold_2: #76622F;
    --gold_3: #594A23;
    --gold_4: #4F4220;
    --gold_5: #362C15;
    --white: #FFFFFF;
    --silver: #C0C0C0;
    --realgold: #FFD700;
}

/*REALGOLD*/

.c-r-g {
    color: var(--realgold);
}

/*SILVER*/

.c-s {
    color: var(--silver);
}

/*BLUE*/

.c-b-1 {
    color: var(--blue_1);
}
.c-b-2 {
    color: var(--blue_2);
}
.c-b-3 {
    color: var(--blue_3);
}
.c-b-4 {
    color: var(--blue_4);
}
.c-b-5 {
    color: var(--blue_5);
}
.c-b-6 {
    color: var(--blue_6);
}
.c-b-7 {
    color: var(--blue_7);
}

/*GOLD*/

.cg1 {
    color: var(--gold_1);
}
.cg2 {
    color: var(--gold_2);
}
.cg3 {
    color: var(--gold_3);
}
.cg4 {
    color: var(--gold_4);
}
.cg5 {
    color: var(--gold_5);
}

/*WHITE*/

.c_w {
    color: var(--white);
}

/*BACKGROUND COLORS 1*/

.bg_c-2 {
    background: #00152c;
}

.bg_cs {
    background-color: var(--silver);
}

.bg_rg {
    background-color: var(--realgold);
}

/*COLOR P*/
.c-p {
    color: var(--blue_7);
}

/*SPAN COLOR*/

.sc {
    color: var(--gold_3);
}

/*GRADIENT-BUTTONS*/

.g_b {
    background: linear-gradient(var(--blue_5) , var(--blue_7));
}

.g_bg:hover {
    background: linear-gradient(var(--blue_2) , var(--blue_4));
}